.tech-tile{
    padding:1em;
    width: 135px;
    .tech-tile-image{
        border-radius:0.7em;
        overflow: hidden;
        width:100%;
        img{
            width:100%;
            height:auto;
        }

    }
    .tech-tile-label{
        text-align:center;
        font-size:1.1em;
        padding-top:5px;
    }
    .tech-tile-knowledge-level{
        display: flex;
        justify-content: space-around;
    }

    &.small{
        width:75px;
        .tech-tile-image{
            border:1px solid #EEE;
            width:100%;
            margin-left:auto;
            margin-right:auto;
        }
    }
    &.x-small{
        width:30px;
        padding:0px;
        margin: 3px;
        .tech-tile-image{
            border-radius:4px;
            width:100%;
            margin-left:auto;
            margin-right:auto;
            img{
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }
        .tech-tile-label{
            display:none;
            font-size:0.7em;
        }
    }
    .pointer{
        cursor: pointer;
    }
}