$sectionTitleColor: #777;
.section-title{
    position: relative;
    display: flex;
    justify-content: space-around;;
    color:$sectionTitleColor;
      .inner{
      margin-top:70px;
      margin-bottom:30px;
      font-size: 2.3em;
      font-weight:bolder;
      position: relative;
      display: inline-flex;
      &:before, &:after{
        content: " ";
        display: inline-block;
        height: 2px;
        margin: 0 10px;
        position: absolute;
        top: 50%;
        width: 80px;
        zoom: 1;
        background-color: $sectionTitleColor;
      }
      &:before{
        right:105%;
      }
      &:after{
        left:105%;
      }
    }
  
  } 