.education-container{
    margin: auto;
    margin-top:2em;
    text-align: center;;
    .education-primary{
        font-size:1.7em;
        color:#666;
    }
    .education-secondary{
        font-size:1em;
        color:#999;
        b{
            font-size:1.4em;
        }
    }
    .fa-graduation-cap{
        margin-right:0.5em;
        font-size:1.2em;
        color:#999;
    }
}
