$greetingColor: white;

.introduction{
    font-size: 2em;
    margin:0px auto;
    color:$greetingColor;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top:400px;
    margin-bottom:400px;
    .inner{
      .name, .greeting{
        text-align: center;
      }
      .greeting{
        font-style: italic;
      }
      .name{
        font-size: 2em;
        position: relative;
        font-weight: bold;
        &:before, &:after{
          content: " ";
          display: inline-block;
          height: 2px;
          margin: 0 10px;
          position: absolute;
          top: 50%;
          width: 80px;
          zoom: 1;
          background-color: $greetingColor;
        }
        &:before{
          right:105%;
        }
        &:after{
          left:105%;
        }
      }
      .message{
          font-size:0.8em;
          text-align: center;
      }

  
    }
  }