$mainBackgroundColor: white;

body{
  background-color: #DDD;
  background: url("./images/portraits/IMG_0827.JPG") no-repeat;
  background-position: top left;
  background-size: cover ;
  background-attachment: fixed;
  
}
main{
  width:100%;
}
.flex-container{
  display: inline-flex;
  flex-wrap: wrap;

  
}
.navigation-bar{
  position:fixed ;
  top:0px;
  display: block;
  width:100%;
  background-color: $mainBackgroundColor;
  z-index: 10000;
}
.main-container{
  background-color:white;
  display: flex;
  flex-direction: column;
}


.inline-flex{
  display: inline-flex;
}
.center{
  width: fit-content;
  align-self: center;
}
.center-horizontally{
  margin-left:auto;
  margin-right:auto;
}

.center-horizontally{
  b{
    color:rgb(255, 204, 0);
  }
}
.container-fluid{
  padding:0px;
}
.container-fluid.highlighted{
  background-color:#EFEFEF;
  padding:1.5em 0em 3em 0em;
  margin:1.5em 0px 0px 0px;
  .section-title .inner {
    margin-top:0px;
  }
}